aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.10.0
async-timeout==4.0.2
attrs==25.4.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.1.0
colorama==0.4.6
discord.py==2.2.3
Django==5.2.7
django-extensions==4.1
frozenlist==1.3.3
graphviz==0.21
h11==0.16.0
idna==3.4
multidict==6.0.4
outcome==1.3.0.post0
pycparser==2.23
pydotplus==2.0.2
pyparsing==3.3.1
PySocks==1.7.1
requests==2.32.5
selenium==4.38.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.0
websocket-client==1.9.0
wsproto==1.3.2
yarl==1.9.2
